* {
    box-sizing: border-box; /* Para garantir que o padding e a borda sejam incluídos nas dimensões */
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2921D;
    display: flex; /* Usando flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Faz o body ocupar toda a altura da viewport */
}

.login {
    background-color: #EEEEEE;
    width: 620px;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .login {
        width: 90%;
        max-width: 100px;
        max-height: 100px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .login {
        width: 90%;
        max-width: 230px;
        max-height: 350px;
        padding: 10px;
        border-radius: 60px;
    }
}   