* {
    box-sizing: border-box; /* Para garantir que o padding e a borda sejam incluídos nas dimensões */
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2921D;
    display: flex; /* Usando flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Faz o body ocupar toda a altura da viewport */
}

.login {
    background-color: #EEEEEE;
    width: 620px;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    flex-direction: column;
}

label {

    font-size: 18px; /* Tamanho da fonte */
    margin: 10px;

    color: #333; /* Cor do texto */

    display: block; /* Faz com que o label ocupe toda a largura disponível */

}
input[type="text"], input[type="password"] {

    width: 90%; /* Largura total do campo de entrada */

    padding: 10px; /* Espaçamento interno */

    border: 1px solid #ccc; /* Borda do campo */
   

    border-radius: 50px; /* Bordas arredondadas */

    font-size: 16px; /* Tamanho da fonte */

}


input[type="text"]:focus, input[type="password"]:focus {

    border-color: #F2921D; /* Cor da borda ao focar */

    outline: none; /* Remove o contorno padrão */

}


button {
    margin-top: 50px;
    background-color: #F2921D; /* Cor do botão */

    color: white; /* Cor do texto do botão */

    border: none; /* Remove a borda padrão */

    padding: 10px; /* Espaçamento interno */

    border-radius: 5px; /* Bordas arredondadas */

    cursor: pointer; /* Muda o cursor ao passar sobre o botão */

    font-size: 16px; /* Tamanho da fonte */

}


button:hover {

    background-color: #d6811d; /* Cor do botão ao passar o mouse */

}

.conta_numero{
    text-decoration: none;
    border: none;
    
}
.senha{
    
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .login {
        width: 90%;
        max-width: 300px;
        max-height: 400px;
        padding: 15px;  
    }
}

@media (max-width: 480px) {
    .login {
        width: 90%;
        max-width: 230px;
        max-height: 350px;
        padding: 10px;
        border-radius: 60px;
    }
}   